header {
  background-color: #000;
  padding: 0.313rem;
  margin: 0rem; }
  header h1 {
    padding: 2.5rem 2.5rem 0.625rem;
    font-size: 1.875rem;
    color: #fff; }
  header .bg-lig {
    background-color: #000;
    color: #fff; }
  header .navbar-light .navbar-nav .nav-link.active,
  header .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
    padding: 1rem 1.30rem 0.12rem;
    font-size: 1.25rem; }
  header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 1rem 1.30rem 0.12rem;
    font-size: 1.25rem; }
  header .color-i {
    background-color: #fff; }

.main-index .welcome {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 3.125rem;
  letter-spacing: 0.069rem;
  padding: 7.5rem 3.125rem 11.25rem;
  height: 100%;
  text-align: center; }

.main-index .what {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  padding: 3.125rem 5rem;
  margin: 0rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.875rem;
  color: #fff; }

.main-index .pictures-box {
  display: flex;
  justify-content: space-evenly; }
  .main-index .pictures-box .picture1 {
    background-color: #fff;
    padding: 5rem 1rem;
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-index .pictures-box .picture1 .secondary-tittle {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.600rem;
      text-align: center;
      position: relative;
      color: #000; }
    .main-index .pictures-box .picture1 .img-center {
      height: 14.875rem;
      width: 21.875rem;
      margin: 0.5rem 0rem; }
    .main-index .pictures-box .picture1 .tittle {
      width: 90%;
      color: black;
      padding: 1rem;
      margin: 0rem 0rem;
      text-align: center;
      font-size: 1.10rem; }
  .main-index .pictures-box .picture2 {
    background-color: #fff;
    padding: 5rem 1rem;
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-index .pictures-box .picture2 .secondary-tittle {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.600rem;
      text-align: center;
      position: relative;
      color: #000; }
    .main-index .pictures-box .picture2 .img-center {
      height: 14.875rem;
      width: 21.875rem;
      margin: 0.5rem 0rem; }
    .main-index .pictures-box .picture2 .tittle {
      width: 90%;
      color: black;
      padding: 1rem;
      margin: 0rem 0rem;
      text-align: center;
      font-size: 1.10rem; }
  .main-index .pictures-box .picture3 {
    background-color: #fff;
    padding: 5rem 1rem;
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-index .pictures-box .picture3 .secondary-tittle {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.600rem;
      text-align: center;
      position: relative;
      color: #000; }
    .main-index .pictures-box .picture3 .img-center {
      height: 14.875rem;
      width: 21.875rem;
      margin: 0.5rem 0rem; }
    .main-index .pictures-box .picture3 .tittle {
      width: 90%;
      color: black;
      padding: 1rem;
      margin: 0rem 0rem;
      text-align: center;
      font-size: 1.10rem; }

.main-index .bg-works-r {
  padding: 8rem 5rem 0.80rem;
  margin: 0rem;
  color: #000;
  font-size: 1.775rem; }

.main-index .carousel-inner > .item > img {
  object-fit: scale-down;
  height: 20vh;
  width: 100%; }

.main-index .phrase {
  background-color: #fff;
  grid-area: phrase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.094rem;
  font-size: 2.188rem;
  padding: 7.5rem 1.875rem 3.75rem;
  margin: 2.5rem;
  text-align: left; }

.main-resume .resum1 {
  display: flex; }
  .main-resume .resum1 .content-resume1 {
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%; }
    .main-resume .resum1 .content-resume1 h2 {
      font-size: 1.25rem;
      padding: 1.375rem 0.625rem 0.800rem 2.5rem;
      color: black; }
    .main-resume .resum1 .content-resume1 .rol {
      font-weight: bold;
      margin: 1.100rem 0rem 0.413rem 0rem; }
    .main-resume .resum1 .content-resume1 .years {
      color: #b6b6b6;
      margin: 0.413rem 0.313rem; }
    .main-resume .resum1 .content-resume1 .task {
      text-align: justify;
      margin: 0rem; }
  .main-resume .resum1 .content-resume2 {
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%; }
    .main-resume .resum1 .content-resume2 h2 {
      font-size: 1.25rem;
      padding: 1.375rem 0.625rem 0.800rem 2.5rem;
      color: black; }
    .main-resume .resum1 .content-resume2 .rol {
      font-weight: bold;
      margin: 1.100rem 0rem 0.413rem; }
    .main-resume .resum1 .content-resume2 .years {
      color: #b6b6b6;
      margin: 0.413rem 0.313rem; }
    .main-resume .resum1 .content-resume2 .task {
      text-align: justify;
      margin: 0rem; }

.main-resume .resum2 {
  display: flex; }
  .main-resume .resum2 .content-certificates1 {
    font-size: 0.938rem;
    font-weight: bold;
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%;
    height: 60%; }
    .main-resume .resum2 .content-certificates1 h2 {
      font-size: 1.25rem;
      padding: 1.375rem 0.625rem 0.800rem 2.5rem;
      color: black; }
  .main-resume .resum2 .content-certificates2 {
    font-size: 0.938rem;
    font-weight: bold;
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%;
    height: 60%; }
    .main-resume .resum2 .content-certificates2 h2 {
      font-size: 1.25rem;
      padding: 1.375rem 0.625rem 0.800rem 2.5rem;
      color: black; }

.main-works {
  color: #000; }
  .main-works .w-subti {
    padding: 3.125rem 1.875rem 3.75rem 4rem;
    margin: 0.625rem 0rem;
    font-size: 1.813rem; }
  .main-works .w-img-section {
    margin: 0rem 0.30rem 3.125rem;
    padding: 4rem 0rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-works .w-img-section .w-secondary {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25rem;
      width: 30%;
      background-color: #fff;
      text-align: center; }
    .main-works .w-img-section .img-center {
      height: 14.875rem;
      width: 21.875rem;
      margin: 0.5rem 0rem; }
    .main-works .w-img-section .w-text {
      font-size: 0.938rem;
      width: 30%;
      text-align: center; }

.main-contact {
  color: #000; }
  .main-contact .tittle {
    padding: 3.125rem 3.125rem 1.50rem;
    margin: 0.625rem 2.50rem;
    font-size: 1.813rem; }
  .main-contact .info {
    padding: 0.080rem 3.125rem;
    margin: 0.125rem 2.50rem;
    width: 30%; }
  .main-contact .contact-form {
    width: 30%;
    height: 45%;
    margin: 2.125rem;
    text-align: center; }
    .main-contact .contact-form .fieldset-w .contact-div {
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 3.125rem; }
      .main-contact .contact-form .fieldset-w .contact-div input, .main-contact .contact-form .fieldset-w .contact-div textarea {
        border: 0.063rem #000000 solid;
        border-radius: 0.125rem;
        padding: 0.375rem;
        margin-left: 0rem;
        margin-right: 3.125rem;
        background: rgba(0, 0, 0, 0.1); }
      .main-contact .contact-form .fieldset-w .contact-div input:focus, .main-contact .contact-form .fieldset-w .contact-div textarea:focus {
        background: white;
        color: black; }
    .main-contact .contact-form .fieldset-w .submit {
      text-decoration: none;
      padding: 0.413rem 1rem;
      margin: 1rem;
      font-weight: 600;
      font-size: 0.938rem;
      color: #fff;
      background-color: #a239CA;
      border-radius: 0.625rem;
      border: 0.063rem solid #ffabeb;
      transition: all 1s ease;
      -webkit-transition: all 1s ease; }
      .main-contact .contact-form .fieldset-w .submit:hover {
        color: #a239CA;
        background-color: #ffffff;
        cursor: pointer; }

footer {
  background-color: #000;
  letter-spacing: 0.031rem;
  font-size: 1.125rem;
  padding: 2.5rem 1.563rem;
  margin: 0rem; }
  footer li {
    color: #fff;
    list-style: none; }
  footer .created {
    text-align: center;
    font-size: 0.938rem;
    padding: 1.25rem 1.25rem 0rem;
    margin: 0rem;
    color: #fff; }

/* Responsive index */
/* Very small devices */
@media screen and (max-width: 36rem) {
  .body-index {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    .body-index header {
      background-color: #000;
      color: white; }
      .body-index header h1 {
        font-size: 1rem; }
      .body-index header .navbar .container-fluid .nav-link,
      .body-index header .navbar .container-fluid .active {
        font-size: 0.80rem; }
    .body-index .main-index .welcome {
      font-size: 1.20rem;
      letter-spacing: 0.056rem;
      padding: 1.875rem 1.75rem;
      height: auto;
      text-align: center; }
    .body-index .main-index .what {
      font-size: 1.20rem;
      padding: 0.313rem 5rem;
      background-image: linear-gradient(to top, #df7fdf 0%, #97d9e1 100%); }
    .body-index .main-index .pictures-box {
      display: block;
      flex-direction: column;
      margin: 0.10rem; }
      .body-index .main-index .pictures-box .picture1 {
        padding: 1rem;
        margin: 0rem 1rem; }
        .body-index .main-index .pictures-box .picture1 .secondary-tittle {
          font-size: 1.10rem;
          text-align: center; }
        .body-index .main-index .pictures-box .picture1 .img-center {
          height: 8.625rem;
          width: 12.625rem;
          margin: 0.5rem 2.188rem; }
        .body-index .main-index .pictures-box .picture1 .tittle {
          font-size: 0.80rem;
          padding: 0.313rem;
          text-align: center;
          width: 40%; }
      .body-index .main-index .pictures-box .picture2 {
        padding: 1.875rem;
        margin: 0rem 1rem; }
        .body-index .main-index .pictures-box .picture2 .secondary-tittle {
          font-size: 1.10rem;
          text-align: center; }
        .body-index .main-index .pictures-box .picture2 .img-center {
          height: 8.625rem;
          width: 12.625rem;
          margin: 0.5rem 2.188rem; }
        .body-index .main-index .pictures-box .picture2 .tittle {
          font-size: 0.80rem;
          padding: 0.313rem;
          text-align: center;
          width: 40%; }
      .body-index .main-index .pictures-box .picture3 {
        padding: 1.875rem;
        margin: 0rem 1rem; }
        .body-index .main-index .pictures-box .picture3 .secondary-tittle {
          font-size: 1.10rem;
          text-align: center; }
        .body-index .main-index .pictures-box .picture3 .img-center {
          height: 8.625rem;
          width: 12.625rem;
          margin: 0.5rem 2.188rem; }
        .body-index .main-index .pictures-box .picture3 .tittle {
          font-size: 0.80rem;
          padding: 0.313rem;
          text-align: center;
          width: 40%; }
    .body-index .main-index .bg-works-r {
      font-size: 1.20rem; }
    .body-index .main-index .carousel-inner .carousel-item h5 {
      font-size: 0.60rem; }
    .body-index .main-index .phrase {
      padding: 1.25rem 0.313rem 1.25rem;
      font-size: 1.20rem;
      text-align: center; }
    .body-index .footer {
      background-color: #000;
      color: white;
      font-size: 0.80rem; }
      .body-index .footer .created {
        font-size: 0.60rem; } }

/* Mobile devices */
@media screen and (min-width: 36.063rem) and (max-width: 48rem) {
  .body-index {
    padding-left: 0.640rem;
    padding-right: 0.640rem; }
    .body-index header {
      background-color: #000;
      color: white; }
      .body-index header h1 {
        font-size: 1.20rem;
        margin-left: 0.25rem; }
      .body-index header .navbar .container-fluid .nav-link,
      .body-index header .navbar .container-fluid .active {
        font-size: 0.90rem; }
    .body-index .main-index .welcome {
      font-size: 1.40rem;
      letter-spacing: 0.056rem;
      padding: 1.875rem 0.938rem;
      height: auto;
      text-align: center; }
    .body-index .main-index .what {
      font-size: 1.40rem;
      padding: 0.625rem 5rem;
      margin: 0rem; }
    .body-index .main-index .pictures-box {
      display: block;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0.30rem; }
      .body-index .main-index .pictures-box .picture1 {
        padding: 0.625rem 6.25rem;
        margin: 0rem 2rem; }
        .body-index .main-index .pictures-box .picture1 .secondary-tittle {
          font-size: 1.10rem;
          text-align: center; }
        .body-index .main-index .pictures-box .picture1 .img-center {
          height: 12.125rem;
          width: 18.125rem;
          margin: 0rem;
          padding: 0.313rem 0.75rem; }
        .body-index .main-index .pictures-box .picture1 .tittle {
          font-size: 0.90rem; }
      .body-index .main-index .pictures-box .picture2 {
        padding: 0.625rem 6.25rem;
        margin: 0rem 2rem; }
        .body-index .main-index .pictures-box .picture2 .secondary-tittle {
          font-size: 1.10rem;
          text-align: center; }
        .body-index .main-index .pictures-box .picture2 .img-center {
          height: 12.125rem;
          width: 18.125rem;
          margin: 0rem;
          padding: 0.313rem 0.75rem; }
        .body-index .main-index .pictures-box .picture2 .tittle {
          font-size: 0.90rem; }
      .body-index .main-index .pictures-box .picture3 {
        padding: 0.625rem 6.25rem;
        margin: 0rem 2rem; }
        .body-index .main-index .pictures-box .picture3 .secondary-tittle {
          font-size: 1.10rem;
          text-align: center; }
        .body-index .main-index .pictures-box .picture3 .img-center {
          height: 12.125rem;
          width: 18.125rem;
          margin: 0rem;
          padding: 0.313rem 0.75rem; }
        .body-index .main-index .pictures-box .picture3 .tittle {
          font-size: 0.90rem; }
    .body-index .main-index .bg-works-r {
      font-size: 1.40rem; }
    .body-index .main-index .phrase {
      padding: 1.25rem 0.313rem 1.25rem;
      font-size: 1.30rem;
      text-align: center; }
    .body-index .footer {
      background-color: #000;
      color: white;
      font-size: 0.90rem; }
      .body-index .footer .created {
        font-size: 0.70rem; } }

@media screen and (min-width: 48.063rem) and (max-width: 75rem) {
  .body-index header {
    background-color: #000;
    color: white; }
  .body-index .main-index .welcome {
    font-size: 1.90rem;
    letter-spacing: 0.056rem;
    padding: 1.875rem 0.938rem;
    height: auto;
    text-align: center; }
  .body-index .main-index .what {
    font-size: 1.60rem;
    padding: 0.625rem 5rem;
    margin: 0rem; }
  .body-index .main-index .pictures-box {
    display: flex;
    flex-direction: column;
    margin: 0.220rem; }
    .body-index .main-index .pictures-box .picture1 .secondary-tittle {
      text-align: center; }
    .body-index .main-index .pictures-box .picture1 .img-center {
      height: 21.125rem;
      width: 28.125rem;
      margin: 0rem;
      padding: 0.313rem 18.75rem; }
    .body-index .main-index .pictures-box .picture1 .tittle {
      font-size: 1rem;
      padding: 0.313rem;
      text-align: center; }
    .body-index .main-index .pictures-box .picture2 .secondary-tittle {
      text-align: center; }
    .body-index .main-index .pictures-box .picture2 .img-center {
      height: 24.25rem;
      width: 28.125rem;
      margin: 0rem;
      padding: 0.313rem 18.75rem; }
    .body-index .main-index .pictures-box .picture2 .tittle {
      font-size: 1rem;
      padding: 0.313rem;
      text-align: center; }
    .body-index .main-index .pictures-box .picture3 .secondary-tittle {
      text-align: center; }
    .body-index .main-index .pictures-box .picture3 .img-center {
      height: 24.25rem;
      width: 28.125rem;
      margin: 0rem;
      padding: 0.313rem 18.75rem; }
    .body-index .main-index .pictures-box .picture3 .tittle {
      font-size: 1rem;
      padding: 0.313rem;
      text-align: center; }
  .body-index .main-index .bg-works-r {
    font-size: 1.60rem; }
  .body-index .main-index .phrase {
    padding: 1.25rem 0.313rem 1.25rem;
    font-size: 1.70rem;
    text-align: center; }
  .body-index .footer {
    background-color: #000;
    color: white; } }

/* Responsive contact */
/* Very small devices */
@media screen and (max-width: 36rem) {
  .body-contact {
    padding-left: 0.313rem;
    padding-right: 0.313rem; }
    .body-contact header {
      background-color: #000;
      color: white; }
      .body-contact header h1 {
        font-size: 1rem; }
      .body-contact header .navbar .container-fluid .nav-link,
      .body-contact header .navbar .container-fluid .active {
        font-size: 0.80rem; }
    .body-contact .main-contact .tittle {
      padding: 2rem 2.10rem 0.80rem;
      margin: 0rem 1rem;
      color: 1.25rem;
      font-size: 1.20rem; }
    .body-contact .main-contact .info {
      padding: 0.625rem 1.763rem;
      color: black;
      font-size: 0.80rem;
      margin: 0rem 1.40rem;
      width: 78%; }
    .body-contact .main-contact .contact-form {
      width: 90%;
      padding: 1.875rem 0.475rem;
      margin: 0.313rem 0rem 3.75rem; }
      .body-contact .main-contact .contact-form .fieldset-w .contact-div label {
        color: #000;
        font-size: 0.80rem;
        padding: 0.625rem; }
      .body-contact .main-contact .contact-form .fieldset-w .contact-div input, .body-contact .main-contact .contact-form .fieldset-w .contact-div textarea {
        font-size: 0.80rem; }
      .body-contact .main-contact .contact-form .fieldset-w .submit {
        background: #a239CA;
        display: block;
        width: 6.25rem;
        height: 1.875rem;
        border: none;
        color: #fff;
        border-radius: 0.25rem;
        font-size: 0.90rem;
        margin: 0.625rem auto;
        cursor: pointer; }
  .footer {
    background-color: black;
    color: white;
    font-size: 0.80rem; }
    .footer .createdby {
      font-size: 0.60rem; } }

/* Mobile devices */
@media screen and (min-width: 36.063rem) and (max-width: 48rem) {
  .body-contact {
    padding-left: 0.625rem;
    padding-right: 0.313rem; }
    .body-contact header {
      background-color: #000;
      color: white; }
      .body-contact header h1 {
        font-size: 1.20rem;
        margin-left: 0.25rem; }
      .body-contact header .navbar .container-fluid .nav-link,
      .body-contact header .navbar .container-fluid .active {
        font-size: 0.90rem; }
    .body-contact .main-contact .tittle {
      padding: 1.563rem 3.125rem;
      color: #000;
      font-size: 1.6rem; }
    .body-contact .main-contact .info {
      padding: 0.625rem 2.188rem;
      color: #000;
      font-size: 1rem;
      margin: 0rem 1.25rem;
      width: 50%; }
    .body-contact .main-contact .contact-form {
      width: 60%;
      padding: 1.875rem 1.875rem;
      margin: 0.313rem 0.313rem 3.75rem; }
      .body-contact .main-contact .contact-form .fieldset-w .contact-div label {
        color: #000;
        font-size: 1.1rem;
        padding: 0.625rem; }
      .body-contact .main-contact .contact-form .fieldset-w .submit {
        background: #4717f6;
        display: block;
        width: 6.25rem;
        height: 1.875rem;
        border: none;
        color: #fff;
        border-radius: 0.25rem;
        font-size: 1rem;
        margin: 0.625rem auto;
        cursor: pointer; }
    .body-contact .footer {
      background-color: black;
      color: white;
      font-size: 0.80rem; }
      .body-contact .footer .createdby {
        font-size: 0.60rem; } }

/* Responsive resume */
/* Very small devices */
@media screen and (max-width: 36rem) {
  .body-resume header {
    background-color: #000;
    color: white; }
    .body-resume header h1 {
      font-size: 0.80rem; }
    .body-resume header .navbar .container-fluid .nav-link,
    .body-resume header .navbar .container-fluid .active {
      font-size: 0.80rem; }
  .body-resume .main-resume {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem; }
    .body-resume .main-resume .resum1 {
      display: flex;
      flex-direction: column; }
      .body-resume .main-resume .resum1 .content-resume1 {
        width: 90%; }
        .body-resume .main-resume .resum1 .content-resume1 h2 {
          font-size: 1.10rem;
          text-align: center; }
        .body-resume .main-resume .resum1 .content-resume1 .rol {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum1 .content-resume1 .years {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum1 .content-resume1 .task {
          font-size: 0.80rem; }
      .body-resume .main-resume .resum1 .content-resume2 {
        width: 90%; }
        .body-resume .main-resume .resum1 .content-resume2 h2 {
          font-size: 1.10rem;
          text-align: center; }
        .body-resume .main-resume .resum1 .content-resume2 .rol {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum1 .content-resume2 .years {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum1 .content-resume2 .task {
          font-size: 0.80rem; }
    .body-resume .main-resume .resum2 {
      display: flex;
      flex-direction: column; }
      .body-resume .main-resume .resum2 .content-certificates1 {
        width: 90%; }
        .body-resume .main-resume .resum2 .content-certificates1 h2 {
          font-size: 1.10rem;
          text-align: center; }
        .body-resume .main-resume .resum2 .content-certificates1 .courses {
          font-size: 0.80rem; }
      .body-resume .main-resume .resum2 .content-certificates2 {
        width: 90%; }
        .body-resume .main-resume .resum2 .content-certificates2 h2 {
          font-size: 1.10rem;
          text-align: center; }
        .body-resume .main-resume .resum2 .content-certificates2 .courses {
          font-size: 0.80rem; } }

@media screen and (min-width: 36.063rem) and (max-width: 48rem) {
  .body-resume {
    padding-left: 0.625rem;
    padding-right: 0.313rem; }
    .body-resume header {
      background-color: #000;
      color: white; }
      .body-resume header h1 {
        font-size: 1rem;
        margin-left: 0.25rem; }
      .body-resume header .navbar .container-fluid .nav-link,
      .body-resume header .navbar .container-fluid .active {
        font-size: 0.90rem; }
    .body-resume .main-resume {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 0.50rem;
      margin: 0 auto; }
      .body-resume .main-resume .resum1 {
        display: flex;
        flex-direction: column; }
        .body-resume .main-resume .resum1 .content-resume1 h2 {
          font-size: 1rem;
          text-align: center; }
        .body-resume .main-resume .resum1 .content-resume1 .rol {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume1 .years {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume1 .task {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume2 h2 {
          font-size: 1rem;
          text-align: center; }
        .body-resume .main-resume .resum1 .content-resume2 .rol {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume2 .years {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume2 .task {
          font-size: 0.90rem; }
      .body-resume .main-resume .resum2 {
        display: flex;
        flex-direction: column; }
        .body-resume .main-resume .resum2 .content-certificates1 h2 {
          font-size: 1rem; }
        .body-resume .main-resume .resum2 .content-certificates1 .courses {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum2 .content-certificates2 h2 {
          font-size: 1rem; }
        .body-resume .main-resume .resum2 .content-certificates2 .courses {
          font-size: 0.80rem; } }

/* Responsive works */
/* Very small devices */
@media screen and (max-width: 36rem) {
  .body-works {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    .body-works header {
      background-color: #000;
      color: white; }
      .body-works header h1 {
        font-size: 1rem; }
      .body-works header .navbar .container-fluid .nav-link,
      .body-works header .navbar .container-fluid .active {
        font-size: 0.80rem; }
    .body-works .main-works .w-subti {
      font-size: 1.20rem;
      padding: 2rem 2.10rem 0.80rem;
      margin: 0rem 1rem; }
    .body-works .main-works .w-img-section {
      margin: 0rem 1rem;
      padding: 1rem 2rem;
      display: block;
      flex-direction: column;
      width: 90%; }
      .body-works .main-works .w-img-section .w-secondary {
        font-size: 1rem;
        padding: 0rem 2rem;
        width: 50%; }
      .body-works .main-works .w-img-section .img-center {
        height: 8.625rem;
        width: 12.625rem; }
      .body-works .main-works .w-img-section .w-text {
        font-size: 0.80rem;
        width: 60%; }
    .body-works .footer {
      background-color: #000;
      color: white;
      font-size: 0.80rem; }
      .body-works .footer .created {
        font-size: 0.60rem; } }

/* Mobile devices */
@media screen and (min-width: 36.063rem) and (max-width: 48rem) {
  .body-works {
    padding-left: 0.640rem;
    padding-right: 0.640rem; }
    .body-works header {
      background-color: #000;
      color: white; }
      .body-works header h1 {
        font-size: 1.20rem;
        margin-left: 0.25rem; }
      .body-works header .navbar .container-fluid .nav-link,
      .body-works header .navbar .container-fluid .active {
        font-size: 0.90rem; }
    .body-works .main-works .w-subti {
      font-size: 1.9rem; }
    .body-works .main-works .w-img-section .w-secondary {
      font-size: 1.60rem; }
    .body-works .main-works .w-img-section .w-text {
      font-size: 1rem;
      text-align: justify;
      width: 70%; }
    .body-works .footer {
      background-color: #000;
      color: white;
      font-size: 0.90rem; }
      .body-works .footer .created {
        font-size: 0.70rem; } }

@media screen and (min-width: 48.063rem) and (max-width: 75rem) {
  body .main-works .w-subti {
    font-size: 1.9rem; }
  body .main-works .w-img-section .w-secondary {
    font-size: 1.60rem; }
  body .main-works .w-img-section .w-text {
    font-size: 1rem;
    text-align: justify;
    width: 50%; } }

body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0rem;
  padding: 0rem; }
