header {
  background-color: #000;
  padding: 0.313rem;
  margin: 0rem; }
  header h1 {
    padding: 1.60rem 2.5rem 0.625rem;
    font-size: 1.175rem;
    color: #fff; }
  header .bg-lig {
    background-color: #000;
    color: #fff; }
  header .navbar-light .navbar-nav .nav-link.active,
  header .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
    padding: 0rem 1.30rem 0.12rem;
    font-size: 1.05rem; }
  header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 0rem 1.30rem 0.12rem;
    font-size: 1.05rem; }
  header .color-i {
    background-color: #fff; }

.main-index .front {
  display: flex;
  flex-direction: row; }
  .main-index .front .front-black {
    background-color: #000;
    padding: 4.10rem 0.30rem 0rem 14rem; }
    .main-index .front .front-black .ball {
      margin: 2rem 0rem 0rem 6.95rem;
      background-image: url("../images/perfil.jpg");
      background-size: cover;
      width: 15rem;
      height: 15rem;
      border-radius: 51%; }
  .main-index .front .welcome {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2.60rem;
    letter-spacing: 0.069rem;
    padding: 7.5rem 11rem 9rem 0.30rem;
    height: 82%;
    text-align: left;
    width: 100%; }
    .main-index .front .welcome .main-welcome {
      color: #fff;
      width: 80%;
      padding: 0rem 1rem; }
    .main-index .front .welcome .but-res {
      font-size: 1.875rem;
      font-family: 'Source Sans Pro', sans-serif;
      border: #fff;
      padding: 0.10rem 1rem;
      border-radius: 0.625rem;
      background-color: #fff;
      margin: 0rem 1rem; }
      .main-index .front .welcome .but-res a {
        text-decoration: none;
        color: #000; }

.main-index .what {
  display: flex;
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  padding: 2rem;
  margin: 0rem; }

.main-index .about-me {
  height: 450px;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: #000; }
  .main-index .about-me .contenedor {
    max-width: 600px;
    text-align: center; }
    .main-index .about-me .contenedor .section-title {
      font-size: 2rem;
      padding: 15px 0;
      font-family: 'Roboto', sans-serif; }
    .main-index .about-me .contenedor .section-text {
      font-size: 1rem; }

.main-index .experience {
  padding: 40px 40px 60px 40px;
  margin-bottom: 5rem; }
  .main-index .experience .experience-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0; }
  .main-index .experience i {
    font-size: 2rem;
    color: white;
    background-color: #000000;
    padding: 8px 19px;
    border-radius: 50%; }
  .main-index .experience .badges-content {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0; }
    .main-index .experience .badges-content .badge-1 {
      color: #000;
      margin: 5px; }

.main-index .experience, .main-index .colum {
  padding: 20px;
  border: 1px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.main-index .proj-recent {
  padding: 40px; }
  .main-index .proj-recent .projects-contain {
    padding-top: 60px;
    margin-bottom: 40px; }
  .main-index .proj-recent .section-title {
    font-size: 2rem;
    padding: 15px 0px 2px;
    font-family: 'Roboto', sans-serif;
    text-align: center; }
  .main-index .proj-recent .text-black {
    color: #000; }
  .main-index .proj-recent .proj {
    position: relative; }
    .main-index .proj-recent .proj:hover .overlay {
      opacity: 1; }
    .main-index .proj-recent .proj:hover .this-img {
      opacity: 0.2; }
    .main-index .proj-recent .proj .this-img {
      height: 100%;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      display: block;
      transition: all 0.2s ease; }
    .main-index .proj-recent .proj .overlay {
      transition: all 0.2s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .main-index .proj-recent .proj .overlay p {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 0; }
      .main-index .proj-recent .proj .overlay .icons-container {
        display: flex;
        justify-content: center; }
      .main-index .proj-recent .proj .overlay i {
        color: #000;
        font-size: 50px; }

.main-index .phrase {
  background-color: #fff;
  grid-area: phrase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.094rem;
  font-size: 2.100rem;
  padding: 7.4rem 1.875rem 3.75rem;
  margin: 2.5rem;
  text-align: left; }

.main-resume .resum1 {
  display: flex; }
  .main-resume .resum1 .content-resume1 {
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%; }
    .main-resume .resum1 .content-resume1 h2 {
      font-size: 1.25rem;
      padding: 1.375rem 0.625rem 0.800rem 2.5rem;
      color: black; }
    .main-resume .resum1 .content-resume1 .rol {
      font-weight: bold;
      margin: 1.100rem 0rem 0.413rem 0rem; }
    .main-resume .resum1 .content-resume1 .years {
      color: grey;
      margin: 0.413rem 0.313rem; }
    .main-resume .resum1 .content-resume1 .task {
      text-align: justify;
      margin: 0rem; }
  .main-resume .resum1 .content-resume2 {
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%; }
    .main-resume .resum1 .content-resume2 h2 {
      font-size: 1.25rem;
      padding: 1.375rem 0.625rem 0.800rem 2.5rem;
      color: black; }
    .main-resume .resum1 .content-resume2 .rol {
      font-weight: bold;
      margin: 1.100rem 0rem 0.413rem; }
    .main-resume .resum1 .content-resume2 .years {
      color: #808080;
      margin: 0.413rem 0.313rem; }
    .main-resume .resum1 .content-resume2 .task {
      text-align: justify;
      margin: 0rem; }

.main-resume .resum2 {
  display: flex; }
  .main-resume .resum2 .content-certificates1 {
    font-size: 0.938rem;
    font-weight: bold;
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%;
    height: 60%; }
    .main-resume .resum2 .content-certificates1 h2 {
      font-size: 1.25rem;
      padding: 1.375rem 0.625rem 0.800rem 2.5rem;
      color: black; }
  .main-resume .resum2 .content-certificates2 {
    font-size: 0.938rem;
    font-weight: bold;
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%;
    height: 60%; }
    .main-resume .resum2 .content-certificates2 h2 {
      font-size: 1.25rem;
      padding: 1.375rem 0.625rem 0.800rem 2.5rem;
      color: black; }

.main-works {
  color: #000; }
  .main-works .w-subti {
    padding: 3.125rem 1.875rem 3.75rem 4rem;
    margin: 0.625rem 0rem;
    font-size: 1.813rem; }
  .main-works .w-img-section {
    margin: 0rem 2rem 3.125rem 20rem;
    padding: 4rem 0rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-works .w-img-section .w-secondary {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25rem;
      width: 30%;
      background-color: #fff;
      text-align: center; }
    .main-works .w-img-section .img-center {
      height: 14.875rem;
      width: 21.875rem;
      margin: 0.5rem 0rem; }
    .main-works .w-img-section .w-text {
      font-size: 0.938rem;
      width: 35%;
      text-align: center; }

.main-contact {
  color: #000; }
  .main-contact .tittle {
    padding: 3.125rem 3.125rem 1.50rem;
    margin: 0.625rem 2.50rem;
    font-size: 1.813rem; }
  .main-contact .info {
    padding: 0.080rem 3.125rem;
    margin: 0.125rem 2.50rem;
    width: 30%; }
  .main-contact .contact-form {
    width: 30%;
    height: 45%;
    margin: 2.125rem;
    text-align: center; }
    .main-contact .contact-form .fieldset-w .contact-div {
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 3.125rem; }
      .main-contact .contact-form .fieldset-w .contact-div input, .main-contact .contact-form .fieldset-w .contact-div textarea {
        border: 0.063rem #000000 solid;
        border-radius: 0.125rem;
        padding: 0.375rem;
        margin-left: 0rem;
        margin-right: 3.125rem;
        background: rgba(0, 0, 0, 0.1); }
      .main-contact .contact-form .fieldset-w .contact-div input:focus, .main-contact .contact-form .fieldset-w .contact-div textarea:focus {
        background: white;
        color: black; }
    .main-contact .contact-form .fieldset-w .submit {
      text-decoration: none;
      padding: 0.413rem 1rem;
      margin: 1rem;
      font-weight: 600;
      font-size: 0.938rem;
      color: #fff;
      background-color: #a239CA;
      border-radius: 0.625rem;
      border: 0.063rem solid #ffabeb;
      transition: all 1s ease;
      -webkit-transition: all 1s ease; }
      .main-contact .contact-form .fieldset-w .submit:hover {
        color: #a239CA;
        background-color: #ffffff;
        cursor: pointer; }

footer {
  background-color: #000;
  letter-spacing: 0.031rem;
  font-size: 1.05rem;
  padding: 2rem 1.563rem;
  margin: 0rem; }
  footer li {
    color: #fff;
    list-style: none; }
  footer .social-media a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in; }
  footer .social-media i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in; }
  footer .social-media a:hover {
    background-color: white;
    border: 2px solid #0d6efd; }
  footer .social-media a:hover i {
    color: #000; }
  footer .copyright {
    text-align: center;
    font-size: 0.938rem;
    padding: 1.25rem 1.25rem 0rem;
    margin: 0rem;
    color: #fff; }

/* Responsive index */
/* Very small devices */
@media screen and (max-width: 36rem) {
  .body-index {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    .body-index header {
      background-color: #000;
      color: white; }
      .body-index header h1 {
        font-size: 1rem; }
      .body-index header .navbar .container-fluid .nav-link,
      .body-index header .navbar .container-fluid .active {
        font-size: 0.80rem; }
    .body-index .main-index .front {
      display: flex;
      flex-direction: column; }
      .body-index .main-index .front .front-black {
        background-color: #000;
        padding: 1rem 7rem 0rem 7rem; }
        .body-index .main-index .front .front-black .ball {
          background-image: url(../images/perfil.jpg);
          background-size: cover;
          width: 6.5rem;
          height: 6.5rem;
          border-radius: 50%;
          margin: 0rem auto; }
      .body-index .main-index .front .welcome {
        font-size: 1.20rem;
        letter-spacing: 0.056rem;
        padding: 1.875rem 0rem;
        text-align: center; }
      .body-index .main-index .front .main-welcome {
        color: #fff;
        width: 90%;
        padding: 0rem 3rem;
        margin: 0rem auto 0.50rem; }
      .body-index .main-index .front .but-res {
        font-size: 0.85rem;
        font-family: 'Source Sans Pro', sans-serif;
        border: #fff;
        padding: 0.20rem 0.50rem;
        border-radius: 0.625rem;
        background-color: #fff;
        margin: 0rem 1rem; }
        .body-index .main-index .front .but-res a {
          text-decoration: none;
          color: #000; }
    .body-index .main-index .what {
      font-size: 1.20rem;
      padding: 0.80rem 5rem;
      background-image: linear-gradient(to top, #df7fdf 0%, #97d9e1 100%); }
    .body-index .main-index .about-me {
      display: block;
      flex-direction: column;
      margin: 0.10rem; }
      .body-index .main-index .about-me .section-title {
        font-size: 1.10rem;
        text-align: center; }
      .body-index .main-index .about-me .section-text {
        font-size: 0.90rem; }
    .body-index .main-index .experience-title {
      font-size: 1.10rem; }
    .body-index .main-index .section-title {
      font-size: 1.10rem; }
      .body-index .main-index .section-title .overlay p {
        font-size: 1rem; }
    .body-index .main-index .phrase {
      padding: 1.25rem 0.313rem 1.25rem;
      font-size: 1.20rem;
      text-align: center; }
    .body-index .footer {
      background-color: #000;
      color: white;
      font-size: 0.80rem; }
      .body-index .footer .created {
        font-size: 0.60rem; } }

/* Mobile devices */
@media screen and (min-width: 36.063rem) and (max-width: 48rem) {
  .body-index {
    padding-left: 0.640rem;
    padding-right: 0.640rem; }
    .body-index header {
      background-color: #000;
      color: white; }
      .body-index header h1 {
        font-size: 1.20rem;
        margin-left: 0.25rem; }
      .body-index header .navbar .container-fluid .nav-link,
      .body-index header .navbar .container-fluid .active {
        font-size: 0.90rem; }
    .body-index .main-index .front {
      display: flex;
      flex-direction: row; }
      .body-index .main-index .front .front-black {
        background-color: #000;
        padding: 2rem 0.30rem 0rem 8.50rem; }
        .body-index .main-index .front .front-black .ball {
          margin: 0rem auto;
          background-image: url(../images/perfil.jpg);
          background-size: cover;
          width: 8.5rem;
          height: 8.5rem;
          border-radius: 50%; }
      .body-index .main-index .front .welcome {
        font-size: 1.40rem;
        letter-spacing: 0.056rem;
        padding: 3.50rem 0.10rem;
        text-align: left; }
      .body-index .main-index .front .main-welcome {
        color: #fff;
        width: 80%;
        padding: 0rem 1rem 0rem 0rem;
        margin: 0rem 0rem; }
      .body-index .main-index .front .but-res {
        font-size: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        border: #fff;
        padding: 0.20rem 0.50rem;
        border-radius: 0.625rem;
        background-color: #fff;
        margin: 0rem; }
        .body-index .main-index .front .but-res a {
          text-decoration: none;
          color: #000; }
    .body-index .main-index .what {
      font-size: 1.40rem;
      padding: 1.30rem 0rem;
      margin: 0rem; }
    .body-index .main-index .about-me {
      display: flex;
      justify-content: center;
      margin: 0.10rem; }
      .body-index .main-index .about-me .section-title {
        font-size: 1.40rem;
        text-align: center; }
      .body-index .main-index .about-me .section-text {
        font-size: 0.90rem; }
    .body-index .main-index .experience-title {
      font-size: 1.40rem; }
    .body-index .main-index .phrase {
      padding: 1.25rem 0.313rem 1.25rem;
      font-size: 1.30rem;
      text-align: center; }
    .body-index .footer {
      background-color: #000;
      color: white;
      font-size: 0.90rem; }
      .body-index .footer .created {
        font-size: 0.70rem; } }

@media screen and (min-width: 48.063rem) and (max-width: 75rem) {
  .body-index header {
    background-color: #000;
    color: white; }
  .body-index .main-index .front {
    display: flex;
    flex-direction: row; }
    .body-index .main-index .front .front-black {
      background-color: #000;
      padding: 2rem 0rem 0rem 8.50rem; }
      .body-index .main-index .front .front-black .ball {
        margin: 0rem;
        background-image: url(../images/perfil.jpg);
        background-size: cover;
        width: 10.30rem;
        height: 10.30rem;
        border-radius: 50%;
        padding-top: 5rem; }
    .body-index .main-index .front .welcome {
      font-size: 1.70rem;
      letter-spacing: 0.056rem;
      padding: 4rem 0rem 6rem 0.50rem;
      height: auto;
      text-align: center; }
    .body-index .main-index .front .main-welcome {
      color: #fff;
      width: 80%;
      padding: 0rem;
      margin: 0rem auto 0.50rem; }
    .body-index .main-index .front .but-res {
      font-size: 1.20rem;
      font-family: 'Source Sans Pro', sans-serif;
      border: #fff;
      padding: 0.40rem 0.60rem;
      border-radius: 0.625rem;
      background-color: #fff;
      margin: 0rem 1rem; }
      .body-index .main-index .front .but-res a {
        text-decoration: none;
        color: #000; }
  .body-index .main-index .what {
    font-size: 1.60rem;
    padding: 2rem 0rem;
    margin: 0rem; }
  .body-index .main-index .about-me {
    display: flex;
    justify-content: center;
    margin: 0.10rem; }
    .body-index .main-index .about-me .section-title {
      font-size: 1.60rem;
      text-align: center; }
    .body-index .main-index .about-me .section-text {
      font-size: 1rem; }
  .body-index .main-index .experience-title {
    font-size: 1.60rem; }
  .body-index .main-index .phrase {
    padding: 1.25rem 0.313rem 1.25rem;
    font-size: 1.70rem;
    text-align: left; }
  .body-index .footer {
    background-color: #000;
    color: white; } }

/* Responsive contact */
/* Very small devices */
@media screen and (max-width: 36rem) {
  .body-contact {
    padding-left: 0.313rem;
    padding-right: 0.313rem; }
    .body-contact header {
      background-color: #000;
      color: white; }
      .body-contact header h1 {
        font-size: 1rem; }
      .body-contact header .navbar .container-fluid .nav-link,
      .body-contact header .navbar .container-fluid .active {
        font-size: 0.80rem; }
    .body-contact .main-contact .tittle {
      padding: 2rem 2.10rem 0.80rem;
      margin: 0rem 1rem;
      color: 1.25rem;
      font-size: 1.20rem; }
    .body-contact .main-contact .info {
      padding: 0.625rem 1.763rem;
      color: black;
      font-size: 0.80rem;
      margin: 0rem 1.40rem;
      width: 78%; }
    .body-contact .main-contact .contact-form {
      width: 90%;
      padding: 1.875rem 0.475rem;
      margin: 0.313rem 0rem 3.75rem; }
      .body-contact .main-contact .contact-form .fieldset-w .contact-div label {
        color: #000;
        font-size: 0.80rem;
        padding: 0.625rem; }
      .body-contact .main-contact .contact-form .fieldset-w .contact-div input, .body-contact .main-contact .contact-form .fieldset-w .contact-div textarea {
        font-size: 0.80rem; }
      .body-contact .main-contact .contact-form .fieldset-w .submit {
        background: #a239CA;
        display: block;
        width: 6.25rem;
        height: 1.875rem;
        border: none;
        color: #fff;
        border-radius: 0.25rem;
        font-size: 0.90rem;
        margin: 0.625rem auto;
        cursor: pointer; }
  .footer {
    background-color: black;
    color: white;
    font-size: 0.80rem; }
    .footer .createdby {
      font-size: 0.60rem; } }

/* Mobile devices */
@media screen and (min-width: 36.063rem) and (max-width: 48rem) {
  .body-contact {
    padding-left: 0.625rem;
    padding-right: 0.313rem; }
    .body-contact header {
      background-color: #000;
      color: white; }
      .body-contact header h1 {
        font-size: 1.20rem;
        margin-left: 0.25rem; }
      .body-contact header .navbar .container-fluid .nav-link,
      .body-contact header .navbar .container-fluid .active {
        font-size: 0.90rem; }
    .body-contact .main-contact .tittle {
      padding: 1.563rem 3.125rem;
      color: #000;
      font-size: 1.6rem; }
    .body-contact .main-contact .info {
      padding: 0.30rem 3.125rem;
      color: #000;
      font-size: 1rem;
      width: 70%; }
    .body-contact .main-contact .contact-form {
      width: 60%;
      padding: 1.875rem 1.875rem;
      margin: 0.313rem 0.313rem 3.75rem; }
      .body-contact .main-contact .contact-form .fieldset-w .contact-div label {
        color: #000;
        font-size: 1.1rem;
        padding: 0.625rem; }
      .body-contact .main-contact .contact-form .fieldset-w .submit {
        background: #4717f6;
        display: block;
        width: 6.25rem;
        height: 1.875rem;
        border: none;
        color: #fff;
        border-radius: 0.25rem;
        font-size: 1rem;
        margin: 0.725rem auto;
        cursor: pointer; }
    .body-contact .footer {
      background-color: black;
      color: white;
      font-size: 0.80rem; }
      .body-contact .footer .createdby {
        font-size: 0.60rem; } }

/* Responsive resume */
/* Very small devices */
@media screen and (max-width: 36rem) {
  .body-resume header {
    background-color: #000;
    color: white; }
    .body-resume header h1 {
      font-size: 1rem; }
    .body-resume header .navbar .container-fluid .nav-link,
    .body-resume header .navbar .container-fluid .active {
      font-size: 0.80rem; }
  .body-resume .main-resume {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem; }
    .body-resume .main-resume .resum1 {
      display: flex;
      flex-direction: column; }
      .body-resume .main-resume .resum1 .content-resume1 {
        width: 90%; }
        .body-resume .main-resume .resum1 .content-resume1 h2 {
          font-size: 1.10rem;
          text-align: center; }
        .body-resume .main-resume .resum1 .content-resume1 .rol {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum1 .content-resume1 .years {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum1 .content-resume1 .task {
          font-size: 0.80rem; }
      .body-resume .main-resume .resum1 .content-resume2 {
        width: 90%; }
        .body-resume .main-resume .resum1 .content-resume2 h2 {
          font-size: 1.10rem;
          text-align: center; }
        .body-resume .main-resume .resum1 .content-resume2 .rol {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum1 .content-resume2 .years {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum1 .content-resume2 .task {
          font-size: 0.80rem; }
    .body-resume .main-resume .resum2 {
      display: flex;
      flex-direction: column; }
      .body-resume .main-resume .resum2 .content-certificates1 {
        width: 90%; }
        .body-resume .main-resume .resum2 .content-certificates1 h2 {
          font-size: 1.10rem;
          text-align: center; }
        .body-resume .main-resume .resum2 .content-certificates1 .courses {
          font-size: 0.80rem; }
      .body-resume .main-resume .resum2 .content-certificates2 {
        width: 90%; }
        .body-resume .main-resume .resum2 .content-certificates2 h2 {
          font-size: 1.10rem;
          text-align: center; }
        .body-resume .main-resume .resum2 .content-certificates2 .courses {
          font-size: 0.80rem; } }

@media screen and (min-width: 36.063rem) and (max-width: 48rem) {
  .body-resume {
    padding-left: 0.625rem;
    padding-right: 0.313rem; }
    .body-resume header {
      background-color: #000;
      color: white; }
      .body-resume header h1 {
        font-size: 1rem;
        margin-left: 0.25rem; }
      .body-resume header .navbar .container-fluid .nav-link,
      .body-resume header .navbar .container-fluid .active {
        font-size: 0.90rem; }
    .body-resume .main-resume {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 0.50rem;
      margin: 0rem auto; }
      .body-resume .main-resume .resum1 {
        display: flex;
        flex-direction: column; }
        .body-resume .main-resume .resum1 .content-resume1 h2 {
          font-size: 1rem;
          text-align: center; }
        .body-resume .main-resume .resum1 .content-resume1 .rol {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume1 .years {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume1 .task {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume2 h2 {
          font-size: 1rem;
          text-align: center; }
        .body-resume .main-resume .resum1 .content-resume2 .rol {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume2 .years {
          font-size: 0.90rem; }
        .body-resume .main-resume .resum1 .content-resume2 .task {
          font-size: 0.90rem; }
      .body-resume .main-resume .resum2 {
        display: flex;
        flex-direction: column; }
        .body-resume .main-resume .resum2 .content-certificates1 h2 {
          font-size: 1rem; }
        .body-resume .main-resume .resum2 .content-certificates1 .courses {
          font-size: 0.80rem; }
        .body-resume .main-resume .resum2 .content-certificates2 h2 {
          font-size: 1rem; }
        .body-resume .main-resume .resum2 .content-certificates2 .courses {
          font-size: 0.80rem; } }

/* Responsive works */
/* Very small devices */
@media screen and (max-width: 36rem) {
  .body-works {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    .body-works header {
      background-color: #000;
      color: white; }
      .body-works header h1 {
        font-size: 1rem; }
      .body-works header .navbar .container-fluid .nav-link,
      .body-works header .navbar .container-fluid .active {
        font-size: 0.80rem; }
    .body-works .main-works {
      display: flex;
      flex-direction: column; }
      .body-works .main-works .w-subti {
        font-size: 1.20rem;
        padding: 2rem 2.10rem 0.80rem;
        margin: 0rem 1rem;
        text-align: left; }
      .body-works .main-works .w-img-section {
        margin: 0rem 1rem;
        padding: 1rem 2rem;
        display: block;
        flex-direction: column;
        width: 90%; }
        .body-works .main-works .w-img-section .w-secondary {
          font-size: 1rem;
          padding: 0rem 3rem;
          width: 50%; }
        .body-works .main-works .w-img-section .img-center {
          height: 8.625rem;
          width: 12.625rem; }
        .body-works .main-works .w-img-section .w-text {
          font-size: 0.80rem;
          width: 65%;
          text-align: justify;
          padding: 0rem;
          margin: 0rem 0.80rem; }
    .body-works .footer {
      background-color: #000;
      color: white;
      font-size: 0.80rem; }
      .body-works .footer .created {
        font-size: 0.60rem; } }

/* Mobile devices */
@media screen and (min-width: 36.063rem) and (max-width: 48rem) {
  .body-works {
    padding-left: 0.640rem;
    padding-right: 0.640rem; }
    .body-works header {
      background-color: #000;
      color: white; }
      .body-works header h1 {
        font-size: 1.20rem;
        margin-left: 0.25rem; }
      .body-works header .navbar .container-fluid .nav-link,
      .body-works header .navbar .container-fluid .active {
        font-size: 0.90rem; }
    .body-works .main-works {
      display: flex;
      flex-direction: column; }
      .body-works .main-works .w-subti {
        font-size: 1.9rem; }
      .body-works .main-works .w-img-section {
        display: flex;
        text-align: center;
        margin: 0rem 3rem;
        padding: 1rem 0rem; }
        .body-works .main-works .w-img-section .w-secondary {
          font-size: 1.40rem; }
        .body-works .main-works .w-img-section .img-center {
          height: 12.125rem;
          width: 18.125rem; }
        .body-works .main-works .w-img-section .w-text {
          font-size: 1rem;
          text-align: center;
          width: 70%; }
    .body-works .footer {
      background-color: #000;
      color: white;
      font-size: 0.90rem; }
      .body-works .footer .created {
        font-size: 0.70rem; } }

@media screen and (min-width: 48.063rem) and (max-width: 75rem) {
  .body-works .main-works .w-subti {
    font-size: 1.9rem; }
  .body-works .main-works .w-img-section .w-secondary {
    font-size: 1.60rem; }
  .body-works .main-works .w-img-section .w-text {
    font-size: 1rem;
    text-align: center;
    width: 50%; } }

body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif; }
