* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 90vh;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 3fr);
    grid-template-areas:
    "header header"
    "work education"
    "cert leng"
    "footer footer";
    gap:5px;
}
 
h1 {
   padding: 50px 50px 10px;
   font-size: 30px;
   margin: 0px;
}
 
header, body, footer {
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    background-color: black;
    grid-area: header;
    color: #fff;
    text-align: left;
}
 
/* Menú de navegación */
.menu-nav {
    width: 100%;
}
   
.menu-ul {
    list-style-type: none;
    text-align: right;
    font-size: 20px;
    position: relative;
    padding: 10px;
    margin-bottom: 0%;
}  
   
.menu-li {
    display: inline-block;
    margin: 0px 60px 0px 0px;
}
 
a {
    text-decoration: none;
    color: #fff;
}
 
/* Primer caja de contenido */
 
.content-box {
    padding: 25px 10px 15px 40px;
    margin: 10px 0px 10px 10px;
    display: block;
    width: 70%;
}
 
.rol {
    font-weight: bold;
    margin: 0px;
}
 
.years {
    color: rgb(182, 182, 182);
    margin: 5px;
}
 
.task {
    text-align: justify;
    margin: 0px;
}
 
/* Content side left */
.left {
    font-size: 20px;
    padding: 70px 10px 0px 40px;
}
 
.work {
    background-color: #fff;
    grid-area: work;
}
 
.cert {
    background-color: #fff;
    grid-area: cert;
}
 
.content-cert {
    font-size: 15px;
    font-weight: bold;
    padding: 20px 20px 10px;
    margin: 0px 0px 50px 30px;
}

.course {
    margin: 5px 0px 10px;
}
 
/* Content side right */
.right-educ {
    font-size: 20px;
    padding: 70px 10px 0px 0px;
}
 
.education {
    background-color: #fff;
    grid-area: education;
    color: #a239CA;
}
 
.content-educ {
    color: #000;
    padding: 15px 10px 15px 0px;
    margin: 10px 0px 10px 10px;
}
 
.right-leng {
    font-size: 20px;
    padding: 55px 0px 5px;
    margin: 10px 0px;
}
 
.leng {
    color: #a239CA;
    background-color: #fff;
    grid-area: leng;
}
 
.content-leng {
    color: #000;
    padding: 5px;
    margin: 0px 5px;
}
 
li {
    list-style-type: none;
}
 
.footer {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    grid-area: footer;
    color: #fff;
    letter-spacing: 0.50px;
    font-size: 18px;
    padding: 50px 70px;
}
 
.created {
    text-align: center;
    font-size: 15px;
    padding: 40px 40px 0px;
}

/* Very small devices */
@media screen and (max-width: 576px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "work"
        "cert"
        "education"
        "leng"
        "footer";
    }

    .body {
        padding-left: 10px;
        padding-right: 10px;
    }
 
    .education {
        padding: 20px;
        color: lightseagreen;
        font-size: 1rem;
    }
 
    .leng {
        padding: 20px;
        color: lightseagreen;
        font-size: 1rem;
    }
 
    .content-box {
        font-size: 1rem;
    }
 
    .content-cert {
        font-size: 1rem;
    }
 
    .footer {
        background-color:#000;
        color: rgb(255, 255, 255);
        font-size: 0.80rem;
    }

    .created {
        font-size: 0.60rem;
    }
}

/* Mobile devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
    
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "work"
        "cert"
        "education"
        "leng"
        "footer";
    }

    .body {
       padding-left: 10px;
       padding-right: 10px;
    }

    .education {
        padding: 20px;
        color: lightseagreen;
        font-size: 2rem;
        font-size: 1.22rem;
    }

    .leng {
        padding: 20px;
        color: lightseagreen;
        font-size: 1.22rem;
    }

    .content-box {
        font-size: 1.22rem;
    }

    .content-cert {
        font-size: 1.22rem;
    }

    .footer {
        background-color:#000;
        color: rgb(255, 255, 255);
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    
    .container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "header header"
        "work education"
        "cert leng"
        "footer footer";
    }
}
