footer {
  background-color: $bg-basic;
  letter-spacing: 0.031rem;
  font-size: 1.05rem;
  font-family: 'Source Sans 3', sans-serif; 
  min-height: 150px;


  li {
    color: $bg-custom;
    list-style: none;
  } 

  .social-media a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
     
  .social-media i {
    color: $bg-custom;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }

  .social-media a:hover {
    background-color: $bg-custom;
    border: 2px solid aliceblue;
  }

  .social-media a:hover i {
    color: #000;
  }

  .copyright {
    text-align: center;
    font-size: 0.938rem;
    padding: 1.25rem 0rem 1rem;
    color: $bg-custom;
  }
}
