footer {
    background-color: $bg;
    letter-spacing: 0.031rem;
    font-size: 1.125rem;
    padding: 2.5rem 1.563rem;
    margin: 0rem;

    li{
      color: $bg-headfot;
      list-style: none;
    }

    .created {
      text-align: center;
      font-size: 0.938rem;
      padding: 1.25rem 1.25rem 0rem;
      margin: 0rem;
      color: $bg-headfot;
    }
}