header {
  background-color: $bg;
  padding: 0.313rem;
  margin: 0rem;
  font-family: 'Source Sans 3', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2vw;

  
  h1 {
    padding: 0.60rem 2.5rem 0rem;
    font-size: 1.05rem;
    color: $bg-headfot;
  }
  
  .bg-lig {
    background-color: $bg;
    color: $bg-headfot;
  }
  
  .navbar-light .navbar-nav .nav-link.active,
   .navbar-light .navbar-nav .show > .nav-link {
    color: $bg-headfot;
    padding: 0rem 1.30rem 0.12rem;
    font-size: 1.05rem;
  }

  .navbar-light .navbar-nav .nav-link {
    color: $bg-headfot;
    padding: 0rem 1.30rem 0.12rem;
    font-size: 1.05rem;
  }

  .color-i {
    background-color: $bg-headfot;
  }
}
