main {
    
    .main-box1 {
        display: flex;
             
            @mixin tittle-h2 {
                font-size: $tittle;
                padding: 1.375rem 0.625rem 0rem 2.5rem;
                display: block;
                flex-direction: column;
                color: $tit-violet;
            }

            h2 {
                @include tittle-h2;
                }

            @mixin boxes {
                padding: 0.780rem 0.625rem 0.938rem 2.5rem;
                margin: 0.625rem 0rem 0.625rem 0.625rem;
                display: block;
                flex-direction: column;
                width: 45%;
            }
            
            @mixin courses {
                margin: 0.313rem 0rem 0.625rem;
            } 

            .content-box {

                @include boxes;
                
                    .rol {
                        font-weight: bold;
                        margin: 2.100rem 0rem 0.413rem;
                    }
            
                    .years {
                        color: rgb(182, 182, 182);
                        margin: 0.413rem 0.313rem;
                    }
            
                    .task {
                        text-align: justify;
                        margin: 0rem;
                    }

                    .cour {
                        @include curses;
                    }
                     
                }
    }

    .main-box2 {
        display: flex;
        
        h2 {
            @include tittle-h2;
            }

        .content-cert {
            @include tittle-h2;
        
            .course {
                @include curses;
            }
        } 
    }    
}