@mixin picture-index {
    background-color: $bg-headfot;
    padding: 5rem 1rem;
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin secondary-style {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.600rem;
    text-align: center;
    position: relative;
    color: #000;
}

@mixin tittle-resume {
    font-size: $tittle;
    padding: 1.375rem 0.625rem 0.800rem 2.5rem;
    color: rgb(0, 0, 0);
}

@mixin boxes {
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%;
}

@mixin tittle-job {
    width: 90%;
    color: black;
    padding: 1rem;
    margin: 0rem 0rem;
    text-align: center;
    font-size: 1.10rem;
}

@mixin courses {
    font-size: 0.938rem;
    font-weight: bold;
    padding: 0.780rem 0.625rem 0.938rem 2.5rem;
    margin: 0.625rem 0rem 0.625rem 0.625rem;
    width: 45%;
    height: 60%;
}

@mixin center-img {
    height: 14.875rem;
    width: 21.875rem;
    margin: 0.5rem 0rem;
}


.main-index {

        
    .front {
        display: flex;
        flex-direction: row;

        .front-black {
            background-color: $bg;
            padding: 4.10rem 0.30rem 0rem 14rem;

            .ball {
                margin: 2rem 0rem 0rem 6.95rem;
                background-image: url("../images/perfil.jpg");
                background-size: cover;
                width: 15rem;
                height: 15rem;
                border-radius: 51%;
            }
        }

        .welcome {
            background-color: $bg;
            color: $bg-headfot;
            font-family: 'Roboto', sans-serif;
            font-size: 2.60rem;
            letter-spacing: 0.069rem;
            padding: 7.5rem 11rem 9rem 0.30rem;
            height: 82%;
            text-align: left;
            width: 100%;

            .main-welcome {
                color: #fff;
                width: 80%;
                padding: 0rem 1rem;

            }

            .but-res {
                font-size: 1.875rem;
                font-family: 'Source Sans Pro', sans-serif;
                border: #fff;
                padding: 0.10rem 1rem;
                border-radius: 0.625rem;
                background-color: #fff;
                margin: 0rem 1rem;
                
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }

    .what {
        display: flex;
        background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
        padding: 2rem;
        margin: 0rem;

    }

    .about-me {
        height: 500px;
        padding: 30px;
        display: flex;
        justify-content: center;


        .contenedor {
            max-width: 600px;
            text-align: center;

            .section-title {
                font-size: 2rem;
                padding: 15px 0;
                font-family: 'Roboto', sans-serif;
            }

            .section-text {
                font-size: 1.2rem;
            }
        }  
    } 

    .phrase {
        background-color: #fff;
        grid-area: phrase;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.094rem;
        font-size: 2.100rem;
        padding: 7.4rem 1.875rem 3.75rem;
        margin: 2.5rem;
        text-align: left;
    }
}


.main-resume {
    
    .resum1 {
        display: flex;

        .content-resume1 {
            @include boxes;

            h2 {
               @include tittle-resume; 
            }

            .rol {
                font-weight: bold;
                margin: 1.100rem 0rem 0.413rem 0rem;
            }
            
            .years {
                color: grey;
                margin: 0.413rem 0.313rem;
            }
            
            .task {
                text-align: justify;
                margin: 0rem;
            }
        }

        .content-resume2 {
                @include boxes;

            h2 {
                @include tittle-resume; 
            }

            .rol {
                font-weight: bold;
                margin: 1.100rem 0rem 0.413rem;
            }
            
            .years {
                color: #808080;
                margin: 0.413rem 0.313rem;
            }
            
            .task {
                text-align: justify;
                margin: 0rem;
            }
        }
    }
    
    .resum2 {
        display: flex;

        .content-certificates1 {
            
            
            h2 {
                @include tittle-resume;
            }

            @include courses;
        } 

        .content-certificates2 {

            h2 {
                @include tittle-resume;
            }

            @include courses;
        }
    }        
}  


.main-works {
    color: $bg;

    .w-subti {
        padding: 3.125rem 1.875rem 3.75rem 4rem;
        margin: 0.625rem 0rem;
        font-size: 1.813rem;
    }
      
    .w-img-section {
        margin: 0rem 2rem 3.125rem 20rem;
        padding: 4rem 0rem;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .w-secondary {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: $tittle;
            width: 30%;
            background-color: #fff;
            text-align: center;
        }

        .img-center {
            @include center-img;
        }
          
        .w-text {
            font-size: 0.938rem;
            width: 35%;
            text-align: center;
        }
    } 
}


.main-contact {
    color: $bg;
    
    .tittle {
        padding: 3.125rem 3.125rem 1.50rem;
        margin: 0.625rem 2.50rem;
        font-size: 1.813rem;
    }
      
    .info {
        padding: 0.080rem 3.125rem;
        margin: 0.125rem 2.50rem;  
        width: 30%;
    }

    .contact-form {
        width: 30%;
        height: 45%;
        margin: 2.125rem;
        text-align: center;
        
        .fieldset-w {
        
            .contact-div {
                margin-top: 1.25rem;
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-left: 3.125rem;
          
                input, textarea {
                    border: 0.063rem #000000 solid;
                    border-radius: 0.125rem;
                    padding: 0.375rem;
                    margin-left: 0rem;
                    margin-right: 3.125rem;
                    background: rgba(0, 0, 0, 0.1);
                }
      
                input:focus, textarea:focus {
                    background: white;
                    color: black;
                }               
            }  

            .submit {
                text-decoration: none;
                padding: 0.413rem 1rem;
                margin: 1rem;
                font-weight: 600;
                font-size: 0.938rem;
                color: $bg-headfot;
                background-color: $tit-violet;
                border-radius: 0.625rem;
                border: 0.063rem solid #ffabeb;
                transition: all 1s ease;
                -webkit-transition: all 1s ease;

                &:hover {
                   color: $tit-violet;
                   background-color: #ffffff;
                   cursor: pointer;
                }
            }           
        }
    }  
}
